@using SignalR_App.Domain.Enums
@using SignalR_App.WebUI.Areas.Admin.Models.TextContents
@model TextContentViewModel

@section Scripts {
    <script src="~/js/admin/textcontents/AddOrUpdate.js" asp-append-version="true"></script>
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün</h4>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="CreateOrUpdate" asp-area="Admin" asp-controller="Product"
                      method="post" data-ajax-begin="beginRequest" data-ajax-complete="completeRequest"
                      data-ajax="true" data-ajax-method="post" data-ajax-success="addOrUpdateSuccess"
                      data-ajax-failure="addOrUpdateSuccess" asp-antiforgery="true">
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="MetaId">
                    <input type="hidden" asp-for="Meta.Id">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@(Model.Id == 0 ? "Ekle" : "Güncelle")</div>
                        </div>
                        <div class="card-body">

                            @if (Model.Id == 0)
                            {
                                <div class="form-group">
                                    <label asp-for="Key">Meta Başlığı</label>
                                    <input type="text" class="form-control" asp-for="Key">
                                </div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="Key">
                            }

                            <div class="form-group">
                                <label for="email">Ürün Açıklaması</label>
                                <textarea cols="5" required="" rows="4" class="form-control" asp-for="Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="email">Ürün Kısa Açıklaması</label>
                                <textarea cols="5" required="" rows="4" class="form-control" asp-for="ShortDescription"></textarea>
                            </div>

                            <div class="form-group">
                                <label asp-for="Meta.MetaTitle">Meta Başlığı</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaTitle">
                            </div>
                            <div class="form-group">
                                <label asp-for="Meta.MetaDescription">Meta Açıklaması</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaDescription">
                            </div>
                            <div class="form-group">
                                <label for="password">Meta Keywordler</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaKeywords">
                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success" type="submit">Kaydet</button>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="TextContent" asp-action="Index">İptal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>