SignalR_App/.vs/SignalR_App/FileContentIndex/122397fb-8b7e-4993-92c8-b57a89eb21c7.vsidx
SignalR_App/.vs/SignalR_App/FileContentIndex/46ee27b9-9565-488f-9633-8ffbf85169ac.vsidx
SignalR_App/.vs/SignalR_App/FileContentIndex/b2388ced-f69d-44ae-a34b-1ba72675a66a.vsidx
SignalR_App/.vs/SignalR_App/FileContentIndex/b2561fd8-d5d9-4b71-886a-e555cde01b51.vsidx
SignalR_App/.vs/SignalR_App/FileContentIndex/be42fe8c-72b4-4410-8628-17d3382f872d.vsidx
