@using SignalR_App.Domain.Enums
@using SignalR_App.WebUI.Areas.Admin.Models.Categories
@model CategoryViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori</h4>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="CreateOrUpdate" asp-area="Admin" asp-controller="Category" method="post">
                    <input type="hidden" asp-for="Id">
                    <input type="hidden" asp-for="MetaId">
                    <input type="hidden" asp-for="Meta.Id">

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">@(Model.Id == 0 ? "Ekle" : "Güncelle")</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="email">Kategori Adı</label>
                                <input type="text" class="form-control" asp-for="Name">
                                @* <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> *@
                            </div>
                            <div class="form-group">
                                <label for="password">Meta Başlığı</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaTitle">
                            </div>
                            <div class="form-group">
                                <label for="password">Meta Açıklaması</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaDescription">
                            </div>
                            <div class="form-group">
                                <label for="password">Meta Keywordler</label>
                                <input type="text" class="form-control" asp-for="Meta.MetaKeywords">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Durumu</label>
                                <select asp-items="@Html.GetEnumSelectList<Status>()" class="form-control" asp-for="Status">
                                </select>
                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success" type="submit">Kaydet</button>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Category" asp-action="Index">İptal</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>