@model List<ChatModel>

<ul class="m-b-0" id="message-list">
    @foreach (var item in Model)
    {
        if (item.UserName == "Admin")
        {
            <li class="clearfix">
                <div class="message-data text-right">
                    <span class="message-data-time">10:10 AM, Today</span>
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                </div>
                <div class="message other-message float-right"> @Html.Raw(item.Message) </div>
            </li>
        }
        else
        {
            <li class="clearfix">
                <div class="message-data">
                    <span class="message-data-time">10:12 AM, Today</span>
                </div>
                <div class="message my-message">@Html.Raw(item.Message)</div>
            </li>
        }
    }
</ul>
